/**************************************************************

This file is used for Advanced Reorder Image Text Slider theme options page

**************************************************************/
#advanced-reorder-image-text-slider-options #simple-image-slider-tab ul.tabs-list{ margin: 0px; padding: 0px; list-style: none; float: left; width: 100%; height: 35px; margin-bottom: 0px; border-bottom: 1px solid #DDD; }
#advanced-reorder-image-text-slider-options #simple-image-slider-tab ul.tabs-list li{ cursor: pointer; position: relative; outline: 0 none; }
#advanced-reorder-image-text-slider-options #simple-image-slider-tab .nav-tab { display: inline-block; padding: 0; text-decoration: none; }
#advanced-reorder-image-text-slider-options #simple-image-slider-tab ul.tabs-list li a{ display: inline-block; text-decoration: none; font-size: 20px; outline: 0 none; line-height: 24px; color: #000000; padding: 6px 14px 4px; }
#advanced-reorder-image-text-slider-options #simple-image-slider-tab ul.tabs-list li a:focus{ border: 0 none; outline: 0 none; box-shadow: none; }
#advanced-reorder-image-text-slider-options #simple-image-slider-tab ul.tabs-list .ui-tabs-active, #simple-image-slider-tab ul.tabs-list .ui-state-active{ background: #FFFFFF; height: 35px; }
#advanced-reorder-image-text-slider-options #simple-image-slider-tab ul.tabs-list .ui-tabs-active a, #simple-image-slider-tab ul.tabs-list .ui-state-active a{ color: #E9764E; }
#advanced-reorder-image-text-slider-options #simple-image-slider-tab .anibraininteractive_inner_tab_page{ outline: 0 none; }
#advanced-reorder-image-text-slider-options #simple-image-slider-tab .option-loader{
    background: url(images/ajax-loader.gif);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 50px;
    z-index: 999999999;
}
#advanced-reorder-image-text-slider-options #simple-image-slider_options_page{
    display: none;
}
#advanced-reorder-image-text-slider-options #simple-image-slider_options_page .submit_settings{
    float: left;
    width: 100%;
    margin-top: 20px;
}
#advanced-reorder-image-text-slider-options #section-contents{
    background: #FFF;
    float: left;
    width: 98%;
    padding: 10px 1% 30px;
}
#advanced-reorder-image-text-slider-options #section-contents .tab_contents{
    float: left;
    width: 100%;
}
#advanced-reorder-image-text-slider-options .simple-image-slider-submit-top-button{
    float: left;
    width: 100%;
    background: #FFFFFF;
}
#advanced-reorder-image-text-slider-options .simple-image-slider-submit-top-button .submit{
    float: right;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
}
#advanced-reorder-image-text-slider-options #section-contents .tab_contents td{
    vertical-align: top;
}
#advanced-reorder-image-text-slider-options #section-contents .simple-image-slider-section-content{
    float: left;
    width: 100%;
}
#advanced-reorder-image-text-slider-options #section-contents .tab_contents h3.simple-image-slider-section-heading{
    outline: 0 none;
    background: #E9764E;
    line-height: 30px;
    cursor: pointer;
    float: left;
    width: 100%;
}
#advanced-reorder-image-text-slider-options #section-contents .tab_contents .simple-image-slider-section-heading span.section-name{
    padding-left: 10px;
    color: #FFFFFF;
}
#advanced-reorder-image-text-slider-options #section-contents .tab_contents .simple-image-slider-section-heading .ui-accordion-home-icon,#advanced-reorder-image-text-slider-options #section-contents .tab_contents .simple-image-slider-section-heading .ui-icon{
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
    background-image: url("images/ui-icons_454545_256x240.png");
    background-color: #FFF;
    border-radius: 15px;
    -webkit-border-radius: 15px;    
    -moz-border-radius: 15px; 
}
#advanced-reorder-image-text-slider-options #section-contents .tab_contents .ui-icon-triangle-1-s {
    background-position: -62px -13px;
}
#advanced-reorder-image-text-slider-options #section-contents .ui-icon-triangle-1-e {
    background-position: -30px -15px;
}
#advanced-reorder-image-text-slider-options #section-contents .tab_contents h3.simple-image-slider-section-heading.ui-state-active{
    background: #000000 !important;
}
#advanced-reorder-image-text-slider-options #section-contents .simple-image-slider-section-inner-content{
    float: left;
    width: 100%;
}
#advanced-reorder-image-text-slider-options #section-contents .add-new-slider{ color: green; cursor: pointer;}
#advanced-reorder-image-text-slider-options #section-contents .simple-image-slider_table .remove-slider{ color: red; cursor: pointer; font-size: 14px; margin-left: 20px; }
#advanced-reorder-image-text-slider-options span.tooltip { cursor: pointer; outline:none; background: url(images/help.png); background-repeat: no-repeat; margin-left: 10px; margin-top: 0px; padding: 0px 10px; background-size: 100% 100%; }
#advanced-reorder-image-text-slider-options span.tooltip strong { line-height:30px; }
#advanced-reorder-image-text-slider-options span.tooltip:hover { text-decoration:none; } 
#advanced-reorder-image-text-slider-options span.tooltip span.help {
    z-index:10;display:none; padding:5px 10px;
    margin-top: 0px; margin-left:20px;
    line-height:16px;
    font-size: 14px;
}
#advanced-reorder-image-text-slider-options span.tooltip:hover span.help{
    display:inline; position:absolute; color: #111;
    border:1px solid #DCA; background: #fffAF0;
}
    
/*CSS3 extras*/
#advanced-reorder-image-text-slider-options span.tooltip span.help
{
    border-radius:4px;    
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
}
#advanced-reorder-image-text-slider-options textarea, #advanced-reorder-image-text-slider-options input[type=text], #advanced-reorder-image-text-slider-options input[type=password], #advanced-reorder-image-text-slider-options input[type=email], #advanced-reorder-image-text-slider-options input[type=number], #advanced-reorder-image-text-slider-options input[type=search], #advanced-reorder-image-text-slider-options input[type=tel], #advanced-reorder-image-text-slider-options input[type=url], #advanced-reorder-image-text-slider-options .titlewrap input, #advanced-reorder-image-text-slider-options select {
    border: 1px solid #CCC;
    vertical-align: middle;
    line-height: 18px;
}
#advanced-reorder-image-text-slider-options .clear{ clear: both; }
#advanced-reorder-image-text-slider-options .sis_image_uploader_thumb{ float: right; height: 40px; max-width: 90px; margin-left: 50px; }
#advanced-reorder-image-text-slider-options .response-msg{ margin-left: 10px; font-size: 14px; color: green;}
#advanced-reorder-image-text-slider-options .msgModal{
    display: block;
    position: fixed;
    top: 45%;
    left: 40%;
    width: 300px;
    height: auto;
    padding: 5px 20px;
    background-color: #EFE;
    z-index:1002;
    overflow: auto;
    text-align: center;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px;
    box-shadow: 5px 5px 10px #cfcfcf;
    -moz-box-shadow: 5px 5px 10px #cfcfcf;
    -webkit-box-shadow: 5px 5px 10px #cfcfcf;
}
#advanced-reorder-image-text-slider-options .msgModal p{
    font-size: 20px;
}
#advanced-reorder-image-text-slider-options .successModal{
    color: green;
    border: 3px solid green;
}
#advanced-reorder-image-text-slider-options .errorModal{
    color: red;
    border: 3px solid red;
}
#advanced-reorder-image-text-slider-options .simple-image-slider-upload-button{
    cursor: pointer;
}
#advanced-reorder-image-text-slider-options .admin-metabox-image{
    margin-left: 15px;
    width: 80px;
    height: 30px;
}
#advanced-reorder-image-text-slider-options tr.home-sliders{
    background-color: ghostwhite;
}
#advanced-reorder-image-text-slider-options tr.home-sliders:hover, #advanced-reorder-image-text-slider-options tr.home-sliders:focus, #advanced-reorder-image-text-slider-options tr.home-sliders:active{
    outline: thin dotted #F1E013;
    background-color: #FFFFE0;
}
